*{
  padding : 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 80vh;
}

/* Register Page CSS */
.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* LOGIN PAGE CSS */

.login-page {
  background-image: url('images/financeImage.jpg');
  background-size: 100%; 
  background-position: center; /* Centers the background image */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 600px; /* Set the width of the login form */
  max-width: 100%; /* Ensure the login form does not exceed 90% of the viewport width */
  background-color: rgba(78, 73, 73, 0.9); /* Semi-transparent white background */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(46, 204, 113);
}

.login-input {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.login-input:focus {
  border-color: #0079ff; /* NerdWallet blue */
}

.signup-link {
  text-decoration: none;
  color: #0079ff; /* NerdWallet blue */
}

.signup-link:hover {
  text-decoration: underline;
}

.login-button {
  padding: 10px 20px;
  margin-bottom: 1rem;
  font-size: 18px;
  background-color: rgb(46, 204, 113); /* Emerald green */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
  text-align: center;
}

.login-button:hover {
  background-color: #3ba47c; /* Darker green */
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.btn {
  outline: none;
}

.spinner {
  color: #0079ff; /* NerdWallet blue */
}

/* NAVBAR CSS ---> Header.js */

/* Navbar */
.navbar {
  background-color: #34373a; /* Dark background color */
}

.navbar-brand {
  color: #28a745; /* Green color */
  font-weight: bold;
}

.navbar-nav .nav-link {
  padding: 1rem;
  margin: 5px 10px;
  color: #28a745; /* White color */
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #218838; /* Lighter blue color */
}

.navbar-toggler-icon {
  color: #28a745; /* Green color */
}

.navbar-text {
  color: #28a745; /* Green color */
  font-weight: bold;
}

.btn-primary {
  padding: 0.5rem;
  margin: 5px 10px;
  background-color: #28a745; /* Green color */
  border-color: #28a745; /* Green color */
}

.btn-primary:hover {
  background-color: #218838; /* Slightly darker green */
  border-color: #218838; /* Slightly darker green */
}

/* Responsive breakpoint for navbar */
@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #2a2c2f; /* Dark background color */
  }
}

/* HomePage.css */

.home-container {
  background-color: #1a1a1a; /* Dark background color */
  color: #ffffff; /* White text color */
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #2ecc71; /* Green title color */
}

.home-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.features-list {
  list-style-type: none;
  text-align: left;
  margin-bottom: 30px;
}

.features-list li {
  margin-bottom: 10px;
}

.navigation-buttons {
  margin-top: 40px;
}

.btn {
  font-size: 18px;
  padding: 12px 24px;
  margin-right: 10px;
  background-color: #2ecc71; /* Green button background color */
  border: none;
  color: #ffffff; /* White button text color */
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: #27ae60; /* Darker green on hover */
}
